.calendar-day {
   border: 1px solid #dee2e6;
   height: 80px; 
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
 }
 .calendar-day .btn {
   font-size: 1.2rem;
 }
 .empty-day {
   background-color: #f8f9fa; 
 }